/* side bar */
.side-title {
    font-family: "Bahnschrift Condensed";
    color:#777   ;
    margin-left: 120px;
    position: absolute;
    top: 230px;
    font-size: 18px;    
}
.side-bar {
    position: absolute;
    top: 260px;
    margin-left: 110px;
    width: 250px;
}
.side-bar li {
    display: block;
    padding-bottom: 7px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: solid 1px;
    border-bottom-color: #777;
}
.side-bar .last-element {
    border: none;
}
.side-bar li a {
    text-decoration:none;
    color: #21618C   ;
    font-family: "Bahnschrift Condensed";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    transition: 0.3s;
    display: block;
}
.side-bar li a:hover {
    color: #f68e1e;
}
.page-content {
    margin-left: 420px;
}
.title1 {
    position: absolute;
    top:230px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #e71839;
}
.text {
    position: absolute;
    top: 270px;
    font-family: 'Oswald', sans-serif;
    color: #4D5656 ;
}
a:hover {
     color: #adc429;
     transition: 0.3s;
}
.image {
    width: 350px;
    height: 170px;
}
.first {
    position: relative;
    top: 310px;
    border: solid 1px black;
    width: 370px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: #3498DB;
}
.second {
    position: relative;
    left: 410px;
    top: 80px;
    border: solid 1px black;
    width: 370px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: #3498DB;
}

.third {
    position: absolute;
    top: 550px;
    border: solid 1px black;
    width: 370px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: #3498DB;
}

.fourth {
    position: absolute;
    right: 105px;
    top: 550px;
    border: solid 1px black;
    width: 370px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: #3498DB;
}

.fifth {
    position: absolute;
    top: 790px;
    border: solid 1px black;
    width: 370px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: #3498DB;
}

.sixth {
    position: absolute;
    top: 790px;
    right: 105px;
    border: solid 1px black;
    width: 370px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    color: #3498DB;
}
/* footer */
.footer {
    position: relative;
    top: 580px;
    left: 100px;

}